/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clearfiximg:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
     overflow: auto;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-variant: small-caps;
}

p{
  font-size: 1em;
}

.baseContainer{
  width: 85%;
  margin: 0 auto;
}

.altback{
  background-color: rgba(245, 222, 179, 0.498);
}

/*******************************************
/* BUTTONS
/*******************************************/

.btn{
  display: inline-block;
  background-color: black;
  color: wheat;
  padding: 1.25em 1.5em;
  text-decoration: none;
  font-size: .75em;
  font-weight: 700;
  word-spacing: .25em;
}


/******************************************
/* LAYOUT
/*******************************************/


/* header */
header{
  background-color: white;
  color: black;
  text-decoration: none;
  height: 4em;
}

.hero{
  float: left;
  padding: 0 1em;
  line-height: 4em;
}

.hero img{
  height: 4em;
}

.booking{
  float: right;
  padding: 0 1em;
  line-height: 4em;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 1em;
}
ul li{
  margin: 0 1em;
}

.navigation{
  width: fit-content;
  margin: 0 auto;
  line-height: 4em;
}

nav li a,
.hero a,
.booking a{
  color: black;
  text-decoration: none;
}

@media (max-width: 950px){
  .mqd{
    display: none;
  }
  nav ul li{
    display: flex;
   justify-content: space-evenly;
    margin: 0 .2em;
  }
}

/* main */

main{
  background-image: url(landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
  padding: 4em;
}

h1{
  font-size: 6em;
  padding: 1.5em 0 0 0;
}
@media (max-width: 650px){
  .baseContainer h1{
    font-size: 3em;
  }
  .hours{
    left: 15em;
  }
}

.hours{
  float: right;
  transform: rotate(90deg);
  display: block;
  position: relative;
  top: 15em;
  left: 12em;
  text-shadow: -1px 1px 0 black,
               1px 1px 0 black,
               1px -1px 0 black,
               -1px -1px 0 black;
  letter-spacing: .3em;             
}
@media (max-width: 650px){
  .hours{
    left: 10em;
    top: 27em;
  }
}

h1 + p{
  width: fit-content;
  letter-spacing: .3em;
}

select{
  margin: 2em 0;
}

.turnPage div{
  display: inline-block;
  color: black;
  background-color: rgba(245, 222, 179, 0.566);
  border-radius: 100%;
  font-size: .75em;
  font-weight: lighter;
  padding: 1.25em;
  vertical-align: auto;
}
.turnPage{
  float: right;
  clear: both;
}

/* small block */

.smallBlock{
  width: 28%;
  float: left;
  background-color: black;
  box-shadow: 1px -1px 30px wheat;
  margin-top: 2.5em;
  border-radius: 3px;
}
@media (max-width: 800px){
  .smallBlock{
    width: 65%;
  }
}
@media (max-width: 450px ){
  .smallBlock{
    width: 90%;
  }
}
.smallBlock a{
  display: inline-block;
  background-color: wheat;
  color: black;
  padding: 1.25em 1.5em;
  text-decoration: none;
  font-size: .75em;
  font-weight: 700;
  word-spacing: .25em;
}

.sbbtn{
  margin-left: 1em;
  margin-bottom: 1.5em;
}

.smallBlock h3,
.smallBlock h2{
  margin: 1.5em 0;
  padding: 0 1em;
  word-spacing: .25em;
  line-height: 1.5em;
  font-size: 1.25em;
  text-align: center;
}

.smallBlock h3{
  text-align: left;
}

.smallBlock span{
  font-size: 2em;
  font-weight: 700;
}


/* tabs */

.tabs{
  width: 33%;
  float: left;
  margin: 3em 0 8em 0;
  text-align: center;
  padding: 0 .25em;
}
.tabs div{
  font-size: 5em;
  margin-top: 1em;
}

.tabs h3{
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: .25em;
  padding: .5em 0;
}

@media (max-width: 800px){
  .tabs{
    float: none;
    margin: 0 auto;
  }
  .tabs div{
    margin: .2em 0;
  }
  .services{
    padding: 0 0 1em 0;
  }
}
/* media */

.media section{
  float: left;
  width: 50%;
 
}

.momentum{
 padding: 2em 0;
 
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
.video img{
  width: 50%;
  height: auto;
  margin: 0 auto;
  border: 3px solid wheat;
  box-shadow: 1px -1px 30px black;
}

.media h2{
  font-size: 3em;
}

.media p{
  line-height: 1.5em;
}

.media p,
.media a{
  margin-top: 2em;
}

.media{
  margin-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1030px){
  .media{
    flex-direction: column;
  }
  .video img{
    width: 100%
  };
  
}

/* employees */



.employees{
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  clear: both;
  background-color: wheat;
  width: 100%;
  margin-bottom: 3em;
}

.firstStylist{
  background-image: url(stylist1.jpg);
  background-position-x: center;
}
.secondStylist{
  background-image: url(stylist2.jpg);
  background-position-x: center;
}
.thirdStylist{
  background-image: url(stylist3.jpg);
  background-position-x: center;
  border-right: 10px solid gray;
}

.picture{
  
  width: 25%;
  height: 40em;
  text-align: center;
  margin: 4em 4em;
  padding: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: inset 1px -1px  30px rgb(0, 0, 0);
  box-shadow: 1px -1px  30px rgb(0, 0, 0);
}




.picture div{
  background-color: black;
  color: wheat;
  padding: 1em;
  margin: 30em 0 0 0;
  position: relative;
  top: -2em;
}

.picture span{
  font-size: .75em;
}

@media (max-width: 800px){
  .employees{
    flex-direction: column;
    align-items: center;
  }
  .picture{
    width: 85%;
  }
}
/* colour day */

.coupon{
  background-image: url(coupon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.colour h2{
  letter-spacing: .25em;
  padding: 2em 0 1em 0;
  clear: both;
  font-size: 2em;
}

.colour span{
  font-weight: 700;
}

.colour h4{
  font-size: 4em;
  padding: 0 0 .5em 0;
}

.colour a{
  margin-bottom: 3em;
}

.colour{
  padding-left: 5em;
 
}


/* looky looky */

.album{
  text-align: center;
  background-color: rgb(153, 114, 66);
  box-shadow: 3px -3px 50px rgb(71, 53, 26);
  border-radius: 3px;
  
}

.album h2{
  clear: both;
  font-size: 4em;
  margin: 2em auto 1em auto;
  width: fit-content;
}

.models section{
  width: 33%;
  border: 5px solid rgb(153, 114, 66);
  
}

.models{
  height: 93em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20em;
}


.a1{
  border: 5px solid rgb(8, 6, 6);
  height: 20em;
  background-image: url(imagesForSalon/christopher-campbell-rDEOVtE7vOs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: .2em;
  box-shadow: inset 1px -1px 70px black;
  border-radius: 0 17px 0 17px;
}



.a3{
  border: 5px solid rgb(161, 25, 25);
  height: 45em;
  background-image: url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 1px -1px 70px black;
  border-radius: 17px 0 17px 0;
}

.a4{
  border: 5px solid rgb(24, 158, 35);
  height: 45em;
  background-image: url(4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 1px -1px 70px white;
  border-radius: 17px 0 17px 0;
}

.a5{
  border: 5px solid rgb(50, 20, 186);
  height: 70em;
  background-image: url(imagesForSalon/stefan-stefancik-QXevDflbl8A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: .2em;
  box-shadow: inset 1px -1px 70px black;
  border-radius: 0 17px 0 17px;
}

.a6{
  border: 5px solid rgb(29, 168, 207);
  height: 55em;
  background-image: url(6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 1px -1px 70px black;
  border-radius: 0 17px 0 17px;
}

.a2{
  border: 5px solid white;
  height: 35em;
  background-image: url(2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 1px -1px 70px black;
  border-radius: 0 17px 0 17px;
}

@media (max-width: 1000px){
  .models{
    flex-wrap: nowrap;
    align-items: center;
    height: fit-content;
  }
  .models section{
    width: 75%;
  }
  .a1{
    height: 20em;
    background-position: center;
  }
  .a5{
    height: 40em;
  }
  .a4{
    height: 30em;
    background-position: center;
  }
  .a3{
    background-position: center;
  }
  .a2{
    background-position: center;
  }
 
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
